<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Unit Testing AngularJS with Jasmine</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="src/app/layout/style.css">
</head>
<body>
	<div ng-controller="Dashboard as vm" class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12 text-center">
						<h3>Products</h3>
					</div>
				</div>
				<div class="row" ng-repeat="product in vm.products">
					<div class="col-md-4 product">
						{{ product.name }} 
					</div>
					<div class="col-md-4 product">
						<button class="btn btn-primary" ng-click="vm.addToCart(product)">Add to cart</button>
					</div>
				</div>	
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12 text-center">
						<h3>Cart</h3>
					</div>
				</div>

				<div class="row cart" ng-repeat="item in vm.order.itens" ng-show="vm.order.itens.length > 0">
					<div class="col-md-4 product">
						<strong>{{ item.product.name }}</strong>
					</div>
					<div class="col-md-4 product">
						{{ item.quantity }}
					</div>
				</div>	

				<div class="row text-center" ng-hide="vm.order.itens.length > 0">
					<div class="col-md-12">
						The Cart is Empty.
					</div>
				</div>

				<div class="row text-left total">
					Total of Itens: {{ vm.order.total }}
				</div>
			</div>
		</div>	
	</div>

	<!-- vendor -->
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- application -->
	<script type="text/javascript" src="src/app/app.module.js"></script>
	<script type="text/javascript" src="src/app/product/product.module.js"></script>
	<script type="text/javascript" src="src/app/product/product.factory.js"></script>
	<script type="text/javascript" src="src/app/dashboard/dashboard.module.js"></script>
	<script type="text/javascript" src="src/app/dashboard/dashboard.controller.js"></script>

</body>
</html>